<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PONG</title>
    <style type="text/css">
      body {
        height:90%;
        width: auto;
        margin: 5px;
      }
    </style>

    <script src="/static/libraries/p5.js" type="text/javascript"></script>
    <script src="/static/libraries/p5.dom.js" type="text/javascript"></script>
    <script src="/static/libraries/p5.sound.js" type="text/javascript"></script>
    <script src="/static/libraries/p5.collide2d.js" type="text/javascript"></script>
    <script src="/static/libraries/p5.collide2d.min.js" type="text/javascript"></script>
    <script src="/static/libraries/auto-bump-version.js" type="text/javascript"></script>

    <script src="/static/player.js" type="text/javascript"></script>
    <script src="/static/team.js" type="text/javascript"></script>
    <script src="/static/ball.js" type="text/javascript"></script>
    <script src="/static/main.js" type="text/javascript"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  </head>
  <body id="body">
    <div id="start-game">
      <input type="text" id="playerName" value="Nitish"></input>
      <button onclick='startGame()'> Play </button>
    </div>
    <!-- <h1 id="player">anonymous</h1> -->
    <script>
      var start = false;
      var protocol = window.location.protocol;
      var socket = io.connect(protocol+'//' + document.domain + ':' + location.port);
      socket.on('connect', function() {
            socket.emit('game start', {
                msg: 'new player joined...'
            })
        })

      function startGame() {
        playerName = document.getElementById('playerName').value;
        console.log('New Player is '+playerName);
        playerName = document.getElementById('playerName').value;
        this.playerName = playerName;

        socket.emit('addPlayer', {
          name: playerName
        })

        var element = document.getElementById("player");
        document.getElementById("body").removeChild(document.getElementById("start-game"));
        element.innerHTML = playerName;

      }
    </script>
  </body>
</html>